*.iml
.gradle
gradle
/local.properties
/.idea/workspace.xml
.idea/misc.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/build/
./idea/*
.idea/modules.xml
.idea/*
.idea/caches/
.idea/codeStyles/
env/
docs/_build/
/.idea/assetWizardSettings.xml
/.idea/caches/*
*.hprof
